.login-form {
	.grid {
		display: grid;
		grid-template-columns: max-content max-content;
		grid-gap: 5px;
	}

	.separator {
		margin-top: 5px;
	}

	.submit-button {
		margin-top: 5px;
		grid-column: 1/-1;

		button {
			float: right;
		}
	}
}

.errors {
	color: red;
}